@font-face {
  font-family: 'Arimo-Regular';
  src: url(fonts/Arimo-Regular.ttf);
}

@font-face {
  font-family: 'Arimo-Medium';
  src: url(fonts/Arimo-Medium.ttf);
}

@font-face {
  font-family: 'Arimo-Italic';
  src: url(fonts/Arimo-Italic.ttf);
}

del {
	text-decoration: line-through;
	text-decoration-color: red;
}

[red] {
  color: rgb(255, 69, 69);
}

[llred] {
  color: rgb(255, 161, 161);
}

[green] {
  color: rgb(97, 255, 73);
}

[llgreen] {
  color: rgb(177, 255, 165);
}

[blue] {
  color: rgb(60, 50, 255);
}

[lblue] {
  color: rgb(31, 180, 255);
}

[llblue] {
  color: rgb(139, 216, 255);
}

[yelow] {
  color: rgb(255, 240, 76);
}

[orange] {
  color: rgb(255, 145, 0);
}

[grey] {
  color: rgb(160, 160, 160);
}

[purple] {
  color: rgb(244, 83, 255);
}

q::after{
  content: "";
}

q::before{
  content: "";
}

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Arimo-Medium';
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: white;
  background-color: #101010;
  overflow: hidden ;
}

.canvas-wrap {
  z-index: 10;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.canvas-wrap:after{
  content: 'ctrl and +, ctrl and r';
  position: absolute;
  left: 0px;
  top: -50px;
  display: block;
  color:  #646869;
}

.modal-wrap {
  z-index: 40;
  position: fixed;
  left: -500px;
  top: -500px;
  transition: 0.2s opacity;
  opacity: 1;
}

.modal-wrap.close {
  opacity: 0;
}

.modal {
  max-width: 400px;
  width: max-content;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  border: 2px solid #929292;
}

.title {
  font-size: 22px;
  font-family: 'Arimo-Medium';
}

.description {
  font-size: 18px;
  font-family: 'Arimo-Regular';
}

.list-info {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.item-info {
  font-size: 18px;
  font-family: 'Arimo-Italic';
}

.filter-wrap{
  z-index: 30;
  position: fixed;
  top: 20px;
  left: 20px;
}

.filter-button{
  width: 30px;
  height: 30px;
}

.filter-button:hover{
  cursor: pointer;
}

.filter-button.close + .filter-list{
  display: none;
}

.filter-button img{
  width: 30px;
}

.filter-list{
  position: absolute;
  z-index: 31;
  left: 3px;
  top: 33px;
  width: 145px;
  margin: 0;
  padding: 0;
  list-style: none;
  border: 2px solid #929292;
  background-color: rgba(0, 0, 0, 0.8);
}

.filter-list img{
  width: 25px;
}

.filter-list-wrap{
  display: flex;
  justify-content: space-around;
}

.filter-list-wrap .filter-item{
  width: 30px;
  justify-content: center;
  padding: 5px 3px;
}

.filter-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}

.filter-item--active{
  background-color: #515151;
}

.filter-item:hover{
  cursor: pointer;
  background-color: #515151;
}

.path-wrap{
  z-index: 20;
  position: fixed;
  top: 18px;
  left: 60px;
}

.path-button{
  width: 30px;
  height: 30px;
  transform: translate(2px, 2px);
}

.path-button.close + .path-list{
  display: none;
}

.path-button img{
  width: 35px;
  transform: translate(-2px, -2px);
}

.path-button img:hover{
  cursor: pointer;
}

.path-list{
  position: absolute;
  z-index: 21;
  left: 35px;
  top: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  border: 2px solid #929292;
  background-color: rgba(0, 0, 0, 0.8);
}

.path-item{
  padding: 5px 10px;
}

.path-item--active{
  background-color: #515151;
}

.path-item:hover{
  cursor: pointer;
  background-color: #515151;
}

.context-wrap{
  z-index: 30;
  position: fixed;
  left: -500px;
  top: -500px;
  border-radius: 5px;
  border: 2px solid #929292;
  background-color: rgba(0, 0, 0, 0.8);
}

/* .context{

} */

.context-item{
  padding: 3px 10px;
  padding-top: 5px;
}

.context-item:hover{
  cursor: pointer;
  background-color: #515151;
}

.context-item-wrap .context-item{
  display: flex;
  align-items: center;
}

.context-item-wrap{
  display: flex;
  justify-content: space-between;
}

.context-item-wrap img{
  width: 20px;
}

.context-item-wrap .knot{
  width: 10px;
}

.context-item-wrap .decor-line{
  width: 10px;
  height: 2px;
  background-color: #2cf704;
  margin-right: -3px;
}

.accept-modal-wrap {
  position: relative;
  z-index: 30;
  left: 50%;
  top: 40px;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  width: 180px;
  transition: top, 0.2s;
}

.accept-modal-wrap.close{
  top: -100px;
}

/* .accept-modal{} */

.accept-modal button{
  background-color: transparent;
  border: none;
  padding: 4px 8px;
  border-radius: 5px;
  border: 2px solid #929292;
  background-color: rgba(0, 0, 0, 0.8);
}

.accept-modal button:hover{
  cursor: pointer;
  background-color: rgba(12, 12, 12, 0.547);
  transform: scale(1.05);
}

.yes{
 color: rgb(97, 255, 73);
}

.no{
 color: rgb(255, 69, 69);
}

