@font-face {
  font-family: 'Arimo-Regular';
  src: url(fonts/Arimo-Regular.ttf);
}

@font-face {
  font-family: 'Arimo-Medium';
  src: url(fonts/Arimo-Medium.ttf);
}

@font-face {
  font-family: 'Arimo-Italic';
  src: url(fonts/Arimo-Italic.ttf);
}

del {
	text-decoration: line-through;
	text-decoration-color: red;
}

[red] {
  color: rgb(255, 69, 69);
}

[llred] {
  color: rgb(255, 161, 161);
}

[green] {
  color: rgb(97, 255, 73);
}

[llgreen] {
  color: rgb(177, 255, 165);
}

[blue] {
  color: rgb(60, 50, 255);
}

[lblue] {
  color: rgb(31, 180, 255);
}

[llblue] {
  color: rgb(139, 216, 255);
}

[yelow] {
  color: rgb(255, 240, 76);
}

[orange] {
  color: rgb(255, 145, 0);
}

[grey] {
  color: rgb(160, 160, 160);
}

[purple] {
  color: rgb(244, 83, 255);
}

q::after{
  content: "";
}

q::before{
  content: "";
}

.scale-icon{
  transition: scale 0.1s;
}

.scale-icon:hover{
  cursor: pointer;
  transform: scale(1.1);
}

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Arimo-Medium';
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: white;
  background-color: rgb(33, 33, 33);
  overflow: hidden ;
}

.canvas-wrap {
  z-index: 10;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.canvas-wrap:after{
  content: 'ctrl and +, ctrl and r';
  position: absolute;
  left: 0px;
  top: -50px;
  display: block;
  color:  #646869;
}

/* modal-marker START */
.modal-marker.modal-wrap {
  z-index: 40;
  position: fixed;
  left: -500px;
  top: -500px;
  transition: 0.2s opacity;
  opacity: 1;
}

.modal-marker .modal-wrap.close {
  opacity: 0;
}

.modal-marker .modal {
  max-width: 400px;
  width: max-content;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  border: 2px solid #929292;
}

.modal-marker .title {
  font-size: 22px;
  font-family: 'Arimo-Medium';
}

.modal-marker .description {
  font-size: 18px;
  font-family: 'Arimo-Regular';
}

.modal-marker .list-info {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.modal-marker .item-info {
  font-size: 18px;
  font-family: 'Arimo-Italic';
}
/* modal-marker END */

/* filter START */
.filter-wrap{
  z-index: 35;
  position: fixed;
  top: 20px;
  left: 20px;
}

.filter-button{
  width: 30px;
  height: 30px;
  transition: scale;
}

.filter-button:hover{
  cursor: pointer;
  transform: scale(1.1);
}

.filter-button.close + .filter-list{
  display: none;
}

.filter-button img{
  width: 30px;
}

.filter-list{
  position: absolute;
  z-index: 31;
  left: 3px;
  top: 33px;
  width: 145px;
  margin: 0;
  padding: 0;
  list-style: none;
  border: 2px solid #929292;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.8);
}

.filter-list img{
  width: 25px;
}

.filter-list-wrap{
  display: flex;
  justify-content: space-around;
}

.filter-list-wrap .filter-item{
  width: 30px;
  justify-content: center;
  padding: 5px 3px;
}

.filter-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}

.filter-item--active{
  background-color: #515151;
}

.filter-item:hover{
  cursor: pointer;
  background-color: #515151;
}
/* filter END */

/* path START */
.path-wrap{
  z-index: 30;
  position: fixed;
  top: 18px;
  left: 60px;
}

.path-button{
  width: 30px;
  height: 30px;
  transform: translate(2px, 2px);
}

.path-button.close + .path-list{
  display: none;
}

.path-button img{
  width: 35px;
  transform: translate(-2px, -2px);
  transition: scale;
}

.path-button img:hover{
  cursor: pointer;
  transform: scale(1.1) translate(-2px, -2px);
}

.path-list{
  position: absolute;
  z-index: 21;
  left: 35px;
  top: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  border: 2px solid #929292;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.8);
}

.path-item{
  padding: 5px 10px;
}

.path-item--active{
  background-color: #515151;
}

.path-item:hover{
  cursor: pointer;
  background-color: #515151;
}
/* path END */

/* books START */
.books-wrap{
  z-index: 29;
  position: fixed;
  top: 18px;
  left: 105px;
}

.books-button{
  width: 30px;
  height: 30px;
  transform: translate(2px, 2px);
}

.books-button.disable{
  display: none;
}

.books-button.close + .wrap-list{
  display: none;
}

.books-button img{
  width: 35px;
  transform: translate(-2px, -2px);
  transition: scale;
}

.books-button img:hover{
  cursor: pointer;
  transform: scale(1.1) translate(-2px, -2px);
}

.wrap-list{
  position: absolute;
  z-index: 21;
  left: 35px;
  top: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.books-list{
  width: 265px;
  margin: 0;
  padding: 0;
  list-style: none;
  border: 2px solid #929292;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.8);
}

.books-list-descr{
  position: absolute;
  left: calc(100% + 5px);
  top: 0px;
  width: 265px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.books-wrap .descr-item{
  position: absolute;
  left: 0;
  top: 0;
  padding: 5px 10px;
  border: 2px solid #929292;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: opacity 0.2s;
}

.books-wrap .descr-item--active{
  opacity: 1;
}

.books-item{
  padding: 5px 10px;
}

.books-item--active{
  background-color: #515151;
}

.books-item:hover{
  cursor: pointer;
  background-color: #515151;
}

.books-list-descr .title{
  font-size: 20px;
  text-align: center;
  font-family: 'Arimo-Italic';
  color: rgb(244, 83, 255);
}

.books-list-descr .descr{
  margin-top: 5px;
}

.books-list-descr .sec-desrc{
  font-size: 14px;
  color: rgb(217, 217, 217);
}

.books-list-descr .loot{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Arimo-Italic';
  padding: 5px;
}

.books-list-descr .loot > div{
  text-align: center;
}
/* books END */

/* context START */
.context-wrap{
  z-index: 30;
  position: fixed;
  left: -500px;
  top: -500px;
  border-radius: 5px;
  border: 2px solid #929292;
  background-color: rgba(0, 0, 0, 0.8);
}

/* .context{

} */

.context-item{
  padding: 3px 10px;
  padding-top: 5px;
}

.context-item:hover{
  cursor: pointer;
  background-color: #515151;
}

.context-item-wrap .context-item{
  display: flex;
  align-items: center;
}

.context-item-wrap{
  display: flex;
  justify-content: space-between;
}

.context-item-wrap img{
  width: 20px;
}

.context-item-wrap .knot{
  width: 10px;
}

.context-item-wrap .decor-line{
  width: 10px;
  height: 2px;
  background-color: #2cf704;
  margin-right: -3px;
}
/* context END */

/* accept START */
.accept-modal-wrap {
  position: fixed;
  z-index: 30;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  width: 180px;
  transition: top, 0.2s;
}

.accept-modal-wrap.close{
  top: -100px;
}

/* .accept-modal{} */

.accept-modal button{
  background-color: transparent;
  border: none;
  padding: 4px 8px;
  border-radius: 5px;
  border: 2px solid #929292;
  background-color: rgba(0, 0, 0, 0.8);
  transition: scale;
}

.accept-modal button:hover{
  cursor: pointer;
  background-color: rgba(12, 12, 12, 0.547);
  transform: scale(1.05);
}

.accept-modal .yes{
 color: rgb(97, 255, 73);
}

.accept-modal .no{
 color: white;
}
/* accept END */

/* map-link START */
.map-link{
  position: relative;
  z-index: 30;
  top: 20px;
  width: 200px;
  left: calc(100% - 55px);
}

.map-link a{
  text-decoration: none;
  color: white;
  font-size: 30px;
}


.map-link img{
  width: 35px;
  transition: scale;
}

.map-link img:hover{
  transform: scale(1.1);
}

.map-link .rotate{
  transform: rotate(180deg);
}

.map-link .rotate:hover{
  transform: scale(1.1) rotate(180deg);
}
/* map-link END */

/* DROP ZONE START */
.add-path{
  z-index: 25;
  position: fixed;
  bottom: 53px;
  left: 20px;
}

.add-path .icon-add-path{
  width: 30px;
  transition: scale;
}

.add-path .icon-add-path:hover{
  cursor: pointer;
  transform: scale(1.1);
}

.add-path .modal {
  position: fixed;
  z-index: 36;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 10px;
  border: 2px solid #929292;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.8);
}

.add-path_modal_bg{
  position: fixed;
  z-index: 35;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.add-path .modal input{
  display: none;
}

.add-path .modal.close,
.add-path .modal.close + .add-path_modal_bg{
  display: none;
}

.add-path .modal_title{
  margin: 0;
}

.add-path .modal_drop-zone{
  margin: 10px;
  margin-top: 15px;
  border: 4px dashed #929292;
  border-radius: 5px;
}

.add-path .modal_drop-zone label{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.add-path .modal_drop-zone label:hover{
  cursor: pointer;
}

.add-path .icon-drop-zone{
  width: 50px;
  margin-bottom: 20px;
}

.add-path .zone-description span{
  text-decoration: underline;
}
/* DROP ZONE END */

/* DONAT START */
.donat{
  position: fixed;
  z-index: 40;
  right: 0;
  bottom: 0;
  height: 50px;
  width: 0;
}

.donat.close{
  width: 180px;
}


.donat .frame{
  position: absolute;
  opacity: 1;
  top: 3px;
  transition: top 0.5s, opacity 0.7s;
}

.donat .frame.close{
  top: 100px;
  opacity: 0;
}

.donat img{
  position: absolute;
  top: 5px;
  right: 15px;
  width: 30px;
  transition: scale;
}

.donat img:hover{
  cursor: pointer;
  transform: scale(1.1);
}

.donat img:active{
  cursor: pointer;
  transform: scale(1);
}
/* DONAT END */

/* LINK_VIDEO START */
.link-video{
  position: fixed;
  z-index: 30;
  top: 62px;
  left: 18px;
}

.link-video img{
  width: 30px;
}
/* LINK_VIDEO END */

/* SETTINGS START */
.settings{
  position: fixed;
  z-index: 45;
  bottom: 10px;
  left: 20px;
}

.settings img{
  width: 30px;
}
/* SETTINGS END */

/* SETTINGS-MODAL END */
.modal-settings{
  position: fixed;
  z-index: 40;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.modal-settings.close{
  opacity: 0;
  left: -110%;
}

.modal-settings-body{
  z-index: 40;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 200px;
  padding: 20px;
  border: 2px solid #929292;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-settings-title{
  font-size: 30px;
}

.modal-settings button{
  padding: 5px 10px;
  border: 2px solid #ff1919;
  border-radius: 5px;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  transition: transform 0.05s;
}

.modal-settings button:hover{
  cursor: pointer;
  transform: scale(1.03);
}

.modal-settings-bg{
  position: absolute;
  z-index: 35;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
/* SETTINGS-MODAL START */

/* QUESTION-MODAL END */
.modal-question{
  position: fixed;
  z-index: 40;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.modal-question.close{
  opacity: 0;
  left: -110%;
}

.modal-question-body{
  z-index: 40;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  border: 2px solid #929292;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-question .features-list{
  list-style-type: none;
  padding: 0;
}
.modal-question .features-list_items{
  margin-bottom: 5px;
}

.modal-question-title{
  font-size: 30px;
}

.modal-question .button-link-video{
  text-decoration: none;
  font-style: 30px;
  padding: 5px 10px;
  border: 2px solid rgb(97, 255, 73);
  border-radius: 5px;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  transition: transform 0.05s;
}

.modal-question .button-link-video:hover{
  transform: scale(1.1);
}

.modal-question-bg{
  position: absolute;
  z-index: 35;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
/* QUESTION-MODAL START */