@font-face {
  font-family: 'Arimo-Regular';
  src: url(fonts/Arimo-Regular.ttf);
}

@font-face {
  font-family: 'Arimo-Medium';
  src: url(fonts/Arimo-Medium.ttf);
}

@font-face {
  font-family: 'Arimo-Italic';
  src: url(fonts/Arimo-Italic.ttf);
}

[red] {
  color: rgb(255, 58, 58);
}

[green] {
  color: rgb(79, 255, 52);
}

[blue] {
  color: rgb(60, 50, 255);
}

[light-blue] {
  color: rgb(31, 180, 255);
}

[yelow] {
  color: rgb(253, 235, 35);
}

[orange] {
  color: rgb(255, 145, 0);
}

[grey] {
  color: rgb(160, 160, 160);
}

[purple] {
  color: rgb(244, 83, 255);
}

q::after{
  content: "";
}

q::before{
  content: "";
}

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Arimo-Medium';
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: white;
  background-color: #c9d2d7
}

.canvas-container {
  z-index: 10;
  position: fixed;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  border: 2px solid #6b6159;
  border-radius: 2px;
  transform: translate(-50%, -50%);
}

.modal-wrap {
  z-index: 20;
  position: fixed;
  left: 0;
  top: 0;
}

.modal-wrap.close {
  display: none;
}

.modal {
  max-width: 400px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  border: 2px solid #929292;
}

.title {
  font-size: 18px;
  font-family: 'Arimo-Medium';
}

.description {
  font-size: 14px;
  font-family: 'Arimo-Regular';
}

.more-info {}

.list-info {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.item-info {
  font-size: 14px;
  font-family: 'Arimo-Italic';
}

.filter-wrap{
  z-index: 20;
  position: fixed;
  top: 20px;
  left: 20px;
}

.filter-button{
  width: 50px;
  height: 50px;
}

.filter-button.close + .filter-list{
  display: none;
}

.filter-button img{
  width: 30px;
}

.filter-button img:hover{
  cursor: pointer;
}

.filter-list{
  position: absolute;
  left: 33px;
  top: 3px;
  width: 145px;
  margin: 0;
  padding: 0;
  list-style: none;
  border: 2px solid #929292;
}

.filter-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.8);
}

.filter-item--active{
  background-color: #353434;
}

.filter-item:hover{
  cursor: pointer;
  background-color: #353434;
}